irc:
  nickname: {{ flexget_nickname }}
  rsskey: {{ flexget_rsskey }}

trakt:
  account: {{ trakt_account }}
  series:
    hdr:
      list: {{ trakt_hdr_list }}
      settings:
        propers: 24 hours
        quality: 2160p h265+
    sdr:
      list: {{ trakt_sdr_list }}
      settings:
        propers: 24 hours
        timeframe: 48 hours
        target: 1080p h265+
        quality: 1080p h264+
  movie:
    quality: 2160p h265+ dtshd+
    list: Watchlist

path:
  series: '{{ content_path }}/media/TV/{% raw %}{{ series_name }}/Season {{ series_season }}{% endraw %}/'
  movie: '{{ content_path }}/media/Film/{% raw %}{{ movie_name }} ({{movie_year }}{% endraw %})/'
  torrent: '{{ content_path }}/torrent/done'

video_regexp: '^.*\.(?:mkv|mp4)$'
