#!/bin/bash
curl -X POST http://localhost:5050/api/tasks/execute -H 'Authorization: Token {{ flexget_api_token }}' -H 'Content-Type: application/json' -d '{"tasks": ["decompress series", "decompress movie", "copy series", "copy movie", "new SDR series", "new HDR series"]}'
