irc:
  nickname: {{ flexget_daemon_irc_nickname }}
  rsskey: {{ flexget_daemon_rsskey }}
  movie_category: "{{ flexget_movie_category }}"

trakt:
  account: {{ flexget_daemon_trakt_account }}
  series:
    hdr:
      list: {{ flexget_daemon_trakt_hdr_list }}
      settings:
        propers: 24 hours
        quality: 2160p h265 hdr+
    sdr:
      list: {{ flexget_daemon_trakt_sdr_list }}
      settings:
        propers: 24 hours
        timeframe: 48 hours
        target: 1080p+ h265
        quality: 1080p+ h264+
  movie:
    quality: 2160p h265 hdr+ dtshd+
    list: watchlist

path:
  series: '{{ flexget_daemon_content_path }}/TV/{% raw %}{{ series_name | replace(" ", ".") }}/{{ series_season | pad(2) }}{% endraw %}/'
  movie: '{{ flexget_daemon_content_path }}/Film/{% raw %}{{ title }}{% endraw %}/'
  torrent: '{{ flexget_daemon_content_path }}/torrent/done'

video_regexp: '^.*\.(?:mkv|mp4)$'
